.actor-search-bar {
    width: 200px;
}

.actor-button {
    margin: 5px;
    width: 250px;
    height: 60px;
}

.actor-list {
    margin: 5px;
}


.header-element-right {
    vertical-align: middle;
    margin: 2px
}